<!DOCTYPE html>
<html>
    <head>
        <title>PCP_MVC - Index_Tache</title>
              <style>
          body {
            background-color: #A1A0A0;
            color: yellow;
          }
          .competences {
            color: black;
              }
              table {
          border-collapse: collapse;
          border: 1px solid black;
              }
          table, th, td {
           border: 1px solid black;
             }
        </style>
    </head>
    <body>
        <div>
          <table  border: medium solid #000000;
            width: 50%;>                
             <tr>
            {% for tache in taches %}        
             <th class="taches">{{ tache.Description }}</th>
             <th class="taches">{{ tache.Date | date("d/m/Y")}}</th> 
            {% endfor %}
            </tr>
          </table>
        </div>
    <br> <a href="?c=tache&t=new">Ajouter une tache
    </body>
</html>