<!DOCTYPE html>
<html>
    <head>
        <title>MVC Test - Index</title>
        <style>
          body {
            background-color: black;
            color: yellow;
          }
          .username {
            color: green;
          }
        </style>
    </head>
    <body>
      <h2>Test de formulaire</h2>
      <form action="http://195.154.118.169/victor/MVC/?c=test&t=receivedata" method="post">
        <input name="nom" />
        <input type="submit" value="envoi"/>
      </form>
    </body>
</html>